<form id="addgenre" action="/genres" method="post">
    <h3>Add new genre:</h3>
     Genre name: <input type="text" name="genreName">
     <input type="submit" value="Submit" class="btn btn-primary">
  </form>
 <br/>

 <h3>Genres</h3>
<p class="text-secondary font-italic">Click on a genre name to view books with that genre.</p>
 <table class="table">
     <thead>
         <th>Genre ID</th>
         <th>Genre Name</th>
     </thead>
     <tbody>
         {{#each genres}}
         <tr>
             <td>{{genreID}}</td>
             <td><a href="/genres/{{genreID}}">{{genreName}}</a></td>
         </tr>
         {{/each}}
     </tbody>
 </table>
