 <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <img src="https://cdn.pixabay.com/photo/2015/11/19/21/10/knowledge-1052010_1280.jpg" class="img-fluid"
                    alt="Book" />
            </div>
            <div class="col-sm">
                <h1 class="header">How's This Book?</h1>
                <p>“How’s This book?” is a website with a database served through MySQL in conjunction with
                    Node.js that allows Oregon State University students to
                    publish Ratings for Books. The interface of the website will also allow Users to access details
                    of Books, such as their Authors and Genres. The primary function of the website is to provide
                    Users with a hub to store and access their Ratings for Books.</p>
                <h4>Outline of webpages:</h4>
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">URL</th>
                        <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="/">/</a></td>
                            <td>Homepage with basic information about website</td>
                        </tr>
                        <tr>
                            <td><a href="/books">/books</a></td>
                            <td>Browse books and add a book if it doesn't exist in database</td>
                        </tr>
                        <tr>
                            <td><a href="/books/1">/books/:id</a></td>
                            <td>Browse all user ratings for a given book and add a rating</td>
                        </tr>
                        <tr>
                            <td><a href="/genres">/genres</a></td>
                            <td>Browse genres and add a genre if it doesn't exist in database</td>
                        </tr>
                        <tr>
                            <td><a href="/genres/1">/genres/:id</a></td>
                            <td>Browse books by a specific genre</td>
                        </tr>
                        <tr>
                            <td><a href="/authors">/authors</a></td>
                            <td>Browse authors and add an author if he/she doesn't exist in database</td>
                        </tr>
                        <tr>
                            <td><a href="/authors/1">/authors/:id</a></td>
                            <td>Browse books by a specific author</td>
                        </tr>
                        <tr>
                            <td><a href="/users">/users</a></td>
                            <td>Browse and search for users</td>
                        </tr>
                        <tr>
                            <td><a href="/users/1">/users/:id</a></td>
                            <td>Browser information and ratings for a given user</td>
                        </tr>
                        <tr>
                            <td><a href="/account">/account</a></td>
                            <td>Log into user account and upon login, view/edit/delete existing ratings and view/edit account information</td>
                        </tr>
                    </tbody>
                    </table>

            </div>
        </div>
    </div>
