<form id="login" action="/login" method="post">
	<h3>Log into your account</h3>
	<div class="form-group">
		Username: <input type="text" name="username" class="form-control">
		Password: <input type="password" name="password" class="form-control">
	</div>
	<input type="submit" value="Login" class="btn btn-primary"><br />
</form>

<div id="register-text">
	<p>Don't have an account? <a href="/register">Sign up!</a></p>
</div>
