#book-icon {
    height: 30px;
}

body {
  margin-bottom: 70px;
}

.main-div {
  margin-top: 20px;
}

footer {
    background-color: #212529;
    color: white;
    text-align: center;
    /* positions footer at bottom */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

.book-cover-pic {
	height: 150px;
}

.book-cover-pic:hover {
  opacity: 0.8;
}

.highlight {
  color: #2ecc71;
}

form {
  padding: 30px;
  background-color: #ecf0f1;
}

#login, #register {
  width: 500px;
  margin: 0 auto;
}

#login-text, #register-text {
  width: 500px;
  margin: 0 auto;
}

.borderless td, .borderless th {
    padding: 2px;
    border: none;
    margin: 0;
}

.display {
  padding: 20px;
}
